.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: end;
  -webkit-align-items: end;
  align-content: end;
  -webkit-align-content: end;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: $background right / cover no-repeat url(./../../img/menu.jpg);
  transition: opacity 0.4s;

  &__title {
    color: $text;
    position: absolute;
    font-size: 2rem;
    top: 1.75rem;
    left: 4.5rem;

    &::first-letter {
      color: $accent;
    }
  }

  &__item {
    margin-right: 2.5rem;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
    text-align: right;
    color: $text;
    transition: color .4s;

    &:hover {
      color: $accent;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -.3rem;
      right: 0;
      width: 0;
      height: .2rem;
      background: $text;
      transition: width .2s, background .4s;
    }

    &:hover::after {
      width: 100%;
      background: $accent;
    }
  }
}

.show {
  opacity: 1;
  z-index: 1;
}