.section {
  padding: 4.5rem 0 4rem;

  &__title {
    font-size: 2.5rem;
    color: var(--text);
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 'Josefin Sans', sans-serif;    
  }
}

.container{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid{
  display: grid;
}