---
import MenuButton from '../components/MenuButton.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="メニュー" image="bg-[url('/img/menu.jpg')]">
  <div>
    <MenuButton href="/" icon="mdi:close" />
  </div>
</BaseLayout>
