---
import Gallery from '../components/Gallery'
import MenuButton from '../components/MenuButton.astro'
import MenuLinks from '../components/MenuLinks'
import Modal from '../components/Modal'
import BaseLayout from '../layouts/BaseLayout.astro'
import { cast, Menu } from '../utils/config'
---

<BaseLayout title="メニュー" image="bg-[url('https://ik.imagekit.io/dvlljo/img/menu.jpg?ik-sdk-version=javascript-1.4.3')]" position="right">
  <MenuButton href="/" icon="mdi:close" />
  <h2 class="text-4xl font-bold first-letter:text-hotpink-main fixed top-4 left-14 md:top-8 md:left-20">REGAIN</h2>
  <Modal client:only="preact" />
  <Gallery galleries={cast} client:only="preact" />
  <div class="flex gap-10 text-xl self-end flex-col items-end">
    <MenuLinks client:only="preact" itemList={Menu} />
  </div>
  <div></div>
</BaseLayout>
