---
import { Icon } from 'astro-icon'

export interface Props {
  href: string
  icon: 'ci:hamburger' | 'mdi:close'
}

const { href, icon } = Astro.props
---

<div class="w-6 h-6 bg-white z-10">
  <a href={href}>
    <Icon name={icon} />
  </a>
</div>

<style lang="css">
  [astro-icon] {
    color: black;
    /* OR */
    fill: black;
  }
</style>
