---
import { Icon } from 'astro-icon'

export interface IconProps {
  href: string
  icon: 'twitter' | 'instagram' | 'youtube'
}

const { icon, href = '/' } = Astro.props
---

<a href={href} aria-label={icon} target="_blank"><div class="h-10 w-10 md:h-6 md:w-6"><Icon name={`mdi:${icon}`} /></div></a>

<style lang="css">
  [astro-icon] {
    color: white;
    /* OR */
    fill: white;
  }

  [astro-icon]:hover {
    color: hsl(335, 100%, 50%);
    /* OR */
    fill: hsl(335, 100%, 50%);
  }
</style>
