@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Righteous&family=Josefin+Sans&display=swap');

// COLORS
$background: hsl(0, 0%, 5%);
$dark: hsl(0, 0%, 9%);
$accent: hsl(335, 100%, 50%);
$accent2: hsl(335, 100%, 60%);
$light: hsl(0, 100%, 96%);
$text: hsl(0, 100%, 96%);
$modal: hsla(0, 0%,0%, .8);

// SHADOWS
$textShadow: 1px 1px 10px #000;