---
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE } from '../utils/config'

export interface Props {
  title: string
  description?: string
  image?: string
  position?: 'left' | 'right'
}

const { title, description, image, position = 'left' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | ${title}`} description={description} />
  </head>
  <body>
    <main class={`w-full h-screen p-6 lg:p-10 bg-black text-white ${image} bg-no-repeact bg-cover bg-center lg:bg-right`}>
      <div class={`h-full flex flex-col overflow-y-scroll justify-between ${position === 'left' ? 'text-left' : 'text-right'}`}>
        <slot name="up" />
        <slot />
        <slot name="bottom" />
      </div>
    </main>
  </body>
</html>
